<footer class="mt-24 bg-white dark:bg-gray-900 h-24 md:h-32 flex gap-9 md:gap-24 lg:gap-36 items-center justify-center">

  <h1 class="font-bold text-base md:text-lg lg:text-xl italic text-gray-400 dark:text-gray-500">Lightline</h1>

  <div>
    <ul>
      <li><a href="#" class="text-xs lg:text-base text-gray-600 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200">Privacy
          Policy</a></li>
      <li><a href="#" class="text-xs lg:text-base text-gray-600 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200">Terms of
          Service</a></li>
      <li><a href="#" class="text-xs lg:text-base text-gray-600 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200">Contact
          Us</a></li>
    </ul>
  </div>
  <div>
    <ul>
      <li><a href="#" class="text-xs lg:text-base text-gray-600 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200">Privacy
          Policy</a></li>
      <li><a href="#" class="text-xs lg:text-base text-gray-600 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200">Terms of
          Service</a></li>
      <li><a href="#" class="text-xs lg:text-base text-gray-600 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200">Contact
          Us</a></li>
    </ul>
  </div>
</footer>