<div class="p-4">

  <div class="grid grid-cols-1 lg:grid-cols-[1fr_auto]">

    <!-- Timeline -->
    <div id="timeline"
      class="lg:w-2xl xl:w-6xl lg:border-r lg:pr-10 lg:border-gray-200 dark:lg:border-gray-800">

      <!-- Title -->
      <div class="ml-6 font-lightline text-lg xl:text-2xl font-bold uppercase mb-10 text-gray-900 dark:text-gray-100">
        Inicio del juicio en California
      </div>

      <ul class="relative space-y-10">

        <!-- Vertical line -->
        <div class="absolute w-1 bg-blue-500 dark:bg-blue-900 h-full left-0 transform -translate-x-1/2"></div>

        <!-- Items -->
        @for(event of events(); track event.id){

        @if(event.id === 1){
          <!-- Year -->
          <div id="year-2022"
            class="font-lightline text-sm xl:text-base text-gray-400 dark:text-gray-500 ml-6 uppercase tracking-wide">
            2022
          </div>
        }

        <li class="relative">
          <app-timeline-item [event]="event" />
        </li>

        }

      </ul>

    </div>

    <!-- Navigation sidebar -->
    <app-timeline-navigation class="hidden lg:block ml-10" />

  </div>

</div>