<app-timeline-live-indicator/>

<div class="p-4">

  <div class="grid grid-cols-1 lg:grid-cols-[1fr_auto] lg:gap-24">

    <div id="timeline">
      <ul class="relative space-y-10">

        <!-- Vertical line -->
        <div class="absolute w-1 bg-blue-500 h-full left-0 transform -translate-x-1/2"></div>

        <!-- Items -->
        @for(event of events(); track event.id){
        <li>
          <app-timeline-item [event]="event" />
        </li>
        }
      </ul>

    </div>

    <app-timeline-navigation/>


</div>