<div class="p-4">

  <div class="grid grid-cols-1 lg:grid-cols-[1fr_auto]">

    <!-- Timeline -->
    <div id="timeline" class="lg:border-r lg:pr-10 lg:border-gray-200 lg:w-3xl">
      <ul class="relative space-y-10">

        <!-- Vertical line -->
        <div class="absolute w-1 bg-blue-500 h-full left-0 transform -translate-x-1/2"></div>

        <!-- Items -->
        @for(event of events(); track event.id){
          <!-- Year -->
          @if(event.id === 1){
            <div class="text-lg font-bold uppercase ml-6">
              Inicio del juicio
            </div>
          }

          <!-- Year -->
          <div id="year-2022" class="text-xs text-gray-400 ml-6">
            2022
          </div>

          <li>
            <app-timeline-item [event]="event" />
          </li>
        }
      </ul>

    </div>

    <!-- Navigation sidebar -->
    <app-timeline-navigation class="hidden lg:block ml-10" />


  </div>